
.project-page{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-btn{
    background-color: rgb(133, 184, 231);
    font-weight: 400;
}