
  
  .card {
    background-color: #f4f4f4;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .card-h{
    font-size: medium;
    font-weight: bold;
  }

  .card-btn{
    margin: 5px 5px;
    padding: 5px 5px;
    background-color: rgb(204, 234, 240);
  }